
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Hello! page</h1>

<h1> Hello! page</h1>
<p>
    first thing after initializing you repo is to create the <strong>develop</strong> branch
    push the branch

    then all other developers should create a branch for their feature and once the features development is done they push to the feature branch
</p>

<p>
    once the feature is tested on the feature branch; developer request to merge his code into the develop branch
    <string>this request called PR</string>
</p>
